<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Document</title>
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
        {{> header}}
        <table border="1" width="50%">
            <tr>
                <th>Ime</th>
                <th>Prezime</th>
                <th>Prosek</th>
                <th>Delete</th>
            </tr>
            {{#each students}}
            <tr>
                <td>{{this.ime}}</td>
                <td>{{this.prezime}}</td>
                <td>{{this.prosek}}</td>
                <td>
                    <a href="/students/delete/{{@index}}">Delete</a>
                </td>
            </tr>
            {{/each}}









        </table>
    </body>

</html>